<br>
<h1><%= @category.name %></h1>
<br>

<p>
  Sort by:
  <%= button_to 'Name', "/categories/#{@category.id}/drinks", method: :get, params: { sort: 'abc' }, class: 'sort' %>
  <%= button_to 'Calories', "/categories/#{@category.id}/drinks", method: :get, params: { sort: 'cal' }, class: 'sort' %>
</p>

<form action="/categories/<%= @category.id %>/drinks" method="get">
  <label for="cal_max">Max calories:</label>
  <input type="number" id="cal_max" name="cal_max">
  <button type="submit">Apply</button>
</form>

<% @drinks.each do |drink| %>
  <br>
  <h2><%= drink.name %></h2>
  <p>Category: <%= drink.category.name %></p>
  <p>Calories: <%= drink.calories %></p>
  <p>Has milk? <%= drink.has_milk %></p>
  <br>
  <p>Created at <%= drink.created_at %></p>
  <p>Updated at <%= drink.updated_at %></p>
<% end %>
<%= button_to 'Add a drink', "/categories/#{@category.id}/drinks/new", method: :get %>