<br>
<h1><%= @category.name %></h1>
<br>
<p>
  Sort by:
  <a href="/categories/<%= @category.id %>/drinks?sort=abc"><button>Name</button></a>
  <a href="/categories/<%= @category.id %>/drinks?sort=cal"><button>Calories</button></a>
</p>
<% @drinks.each do |drink| %>
  <br>
  <h2><%= drink.name %></h2>
  <p>Category: <%= drink.category.name %></p>
  <p>Calories: <%= drink.calories %></p>
  <p>Has milk? <%= drink.has_milk %></p>
  <br>
  <p>Created at <%= drink.created_at %></p>
  <p>Updated at <%= drink.updated_at %></p>
<% end %>
<a href="/categories/<%= @category.id %>/drinks/new"><button>Add a drink</button></a>