<div class='page-title'>
  <h1>Edit</h1>
<div>

<%= form_with model: @drink, url:"/drinks/#{@drink.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :calories %>
  <%= form.number_field :calories %>
  <br>
  <%= form.label :in_season %>
  <%= form.radio_button :in_season, "true", checked: @drink.in_season %>
  <%= form.label :in_season_true, "True" %>
  <%= form.radio_button :in_season, "false", checked: !@drink.in_season %> 
  <%= form.label :in_season_false, "False" %>
  <br>
  <%= form.submit "Update"%>
<% end %>