<br>
<h1>Drinks</h1>
<p>
  Filter by:
  <a href="/drinks"><button>All Drinks</button></a>
  <a href="/drinks?has_milk=true"><button>With Milk</button></a>
  <a href="/drinks?has_milk=false"><button>No Milk</button></a>
</p>
<% @drinks.each do |drink| %>
  <h2><%= drink.name %></h2>
  <a href="/drinks/<%= drink.id %>/edit"><button>Edit</button></a>
  <p>Category: <%= drink.category.name %></p>
  <p>Calories: <%= drink.calories %></p>
  <p>Has milk? <%= drink.has_milk %></p>
  <br>
  <p>Created at <%= drink.created_at %></p>
  <p>Updated at <%= drink.updated_at %></p>
<% end %>