<% @drinks.each do |drink| %>
  <h2><%= drink.name %></h2>
    <p>Category: <%= drink.category.name %></p>
    <p>Calories: <%= drink.calories %></p>
    <p>Has milk? <%= drink.has_milk %></p>
    <br>
    <p>Created at <%= drink.created_at %></p>
    <p>Updated at <%= drink.updated_at %></p>
  </ul>
<% end %>