<h1><%= @drink.name %></h1>
<p>Category: <%= @drink.category.name %></p>
<p>Calories: <%= @drink.calories %></p>
<p>In season? <%= @drink.in_season%></p>
<br>
<p>Created at <%= @drink.created_at %></p>
<p>Updated at <%= @drink.updated_at %></p>
<br>
<%= button_to 'Edit', "/drinks/#{@drink.id}/edit", method: :get, class: 'edit' %>
<%= button_to 'Delete', "/drinks/#{@drink.id}", method: :delete, class: 'delete' %>
