<h1><%= @drink.name %></h1>
<p>Category: <%= @drink.category.name %></p>
<p>Calories: <%= @drink.calories %></p>
<p>Has milk? <%= @drink.has_milk %></p>
<br>
<p>Created at <%= @drink.created_at %></p>
<p>Updated at <%= @drink.updated_at %></p>
<br>
<a href="/drinks/<%= @drink.id %>/edit"><button>Edit</button></a>
<button><%= link_to 'Delete', "/drinks/#{@drink.id}", method: :delete %></button>
