<h1>Menu</h1>
<p>Sort by:</p>
<%= button_to 'Number of Drinks', "/categories?sort=count", method: :get, params: { sort: 'count' }, class: 'sort' %>
<br>
<% @categories.each do |category| %>
  <div>
    <h2><%= category.name %></h2>
    <p>Number of drinks: <%= category.drinks.size %></p>
    <p>Created at <%= category.created_at %></p>
    <%= button_to 'Edit', "/categories/#{category.id}/edit", method: :get, class: 'edit' %>
    <%= button_to 'Delete', "/categories/#{category.id}", method: :delete, class: 'delete' %>
  </div>
<% end %>

<%= button_to 'Add a category', '/categories/new', method: :get %>
