<div class='page-title'>
  <h1><%= @category.name %></h1>
<div>
<div class='edit-del'>
  <%= button_to 'Edit', "/categories/#{@category.id}/edit", method: :get, class: 'edit' %>
  <%= button_to 'Delete', "/categories/#{@category.id}", method: :delete, class: 'delete' %>
</div>

<p>Price: $<%= @category.price %></p>
<p>Have caffeine? <%= @category.caffeinated %></p>
<br>
<p>Number of drinks: <%= @category.drinks.size %></p>
<%= button_to "See all #{@category.name}", "/categories/#{@category.id}/drinks", method: :get %>
<br><br>
<p>Created at <%= @category.created_at %></p>
<p>Updated at <%= @category.updated_at %></p>
