<h1><%= @category.name %></h1>
<p>Price: $<%= @category.price %></p>
<p>Have caffeine? <%= @category.caffeinated %></p>
<br>
<p>Created at <%= @category.created_at %></p>
<p>Updated at <%= @category.updated_at %></p>